* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  font-size: 15px;
}

.top-background {
  position: fixed;
  left: 0;
  top: 0;
}

.bottom-background {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.desktop-top {
  position: fixed;
  left: 0;
  top: 0;
}

.desktop-bottom {
  position: fixed;
  right: -3rem;
  bottom: 0;
  max-width: 100%;
}

.desktop-bottom, .desktop-top {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-background, .bottom-background {
    display: none;
  }

  .desktop-bottom, .desktop-top {
    display: block;
  }
}
body {
  display: grid;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}

main {
  margin: 1.5rem 0;
}
main .container {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
}
main .container .main-section {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
main .container .main-section .left-container {
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 3.5em;
}
main .container .main-section .left-container h1 {
  font-size: 2rem;
  max-width: 450px;
  margin: 0 auto;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: 0.6em;
  color: #502050;
}
main .container .main-section .left-container p {
  font-size: 1rem;
  max-width: 450px;
  margin: 0 auto;
  font-weight: 400;
  color: #937b92;
  line-height: 24px;
}
main .container .main-section .right-container {
  text-align: center;
}
main .container .main-section .right-container .box {
  background-color: #f7f2f7;
  border-radius: 5px;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  margin: 0 auto 2em auto;
}
main .container .main-section .right-container .box .icons {
  margin-bottom: 0.5em;
}
main .container .main-section .right-container .box p {
  font-size: 1rem;
  font-weight: 500;
  color: #502050;
}
main .container .bottom-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5em;
}
main .container .bottom-cards .card {
  background-color: #502050;
  border-radius: 7px;
  padding: 2em;
}
main .container .bottom-cards .card .user-row {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}
main .container .bottom-cards .card .user-row img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 2em;
}
main .container .bottom-cards .card .user-row .details h2 {
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0.3em;
  font-weight: 700;
}
main .container .bottom-cards .card .user-row .details span {
  color: #ee68a4;
  font-weight: 500;
  font-size: 0.8em;
}
main .container .bottom-cards .card p {
  text-align: left;
  font-weight: 400;
  font-size: 1rem;
  color: #f7f2f7;
  line-height: 23px;
}

footer {
  margin-top: 2em;
  text-align: center;
}
footer p, footer a {
  font-weight: 700;
}

@media screen and (min-width: 756px) {
  main .container {
    width: 95%;
  }
  main .container .main-section {
    margin: 2em 0 1em 0;
  }
  main .container .main-section .left-container {
    padding-top: 0rem;
    text-align: left;
    margin-bottom: 3.5em;
    margin-right: 4em;
  }
  main .container .main-section .left-container h1 {
    font-size: 3.2rem;
    line-height: 50px;
    margin: 0 0 0.4em 0;
  }
  main .container .main-section .left-container p {
    margin-left: 0;
  }
  main .container .main-section .right-container {
    text-align: center;
    margin-bottom: 0em;
    margin-left: auto;
  }
  main .container .main-section .right-container .box {
    background-color: #f7f2f7;
    border-radius: 5px;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: row;
    width: 440px;
    margin-bottom: 1.4em;
  }
  main .container .main-section .right-container .box .icons {
    margin-bottom: 0;
    margin-right: 1.5em;
  }
  main .container .main-section .right-container .box p {
    font-size: 1rem;
    font-weight: 700;
    color: #502050;
  }
  main .container .main-section .right-container .box1 {
    transform: translateX(-6em);
  }
  main .container .main-section .right-container .box2 {
    transform: translateX(-3em);
  }
  main .container .bottom-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5em;
  }
  main .container .bottom-cards .card {
    background-color: #502050;
    border-radius: 7px;
    padding: 2em;
  }
  main .container .bottom-cards .card .user-row {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
  }
  main .container .bottom-cards .card .user-row img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 2em;
  }
  main .container .bottom-cards .card .user-row .details h2 {
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 0.3em;
    font-weight: 700;
  }
  main .container .bottom-cards .card .user-row .details span {
    color: #ee68a4;
    font-weight: 500;
    font-size: 0.8em;
  }
  main .container .bottom-cards .card p {
    text-align: left;
    font-weight: 400;
    font-size: 1rem;
    color: #f7f2f7;
    line-height: 23px;
  }
  main .container .bottom-cards .card2 {
    transform: translateY(1.2em);
  }
  main .container .bottom-cards .card3 {
    transform: translateY(2em);
  }
}/*# sourceMappingURL=style.css.map */